body {
  display: flex;
  flex-direction: column;

}

header, .hero{
  background-color: #1f2937;
  display: flex;
  color: white;
  padding: 8px;
  justify-content: space-around;
}

header img {
  align-self: center;
}

.navigation-list {
  margin-left: auto;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0px;
  display: flex;
  gap: 8px;
  align-self: center;
}

.navigation-list li {
  list-style-type: none;
}

.navigation-list li a{
  color: white;
  text-decoration: none;
}

.sign-up-button {
  padding: 8px 16px;
  background-color: #3882f6;
  color: white;
  border-radius: 8px;
  border: white solid 1px;
  width: 80px;
  height: 32px;
  flex-shrink: 0;
}

h2 {
  text-align: center;
  margin-bottom: 48px;
}

.information-boxes {
  display: flex;
  justify-content: space-around;
  gap: 48px;
  padding: 8px;
}

.image-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 200px;
  border: blue solid 3px;
  padding: 8px;
  border-radius: 8px;
}

.image-box img {
  width: 30px;
}

.image-box p {
  text-align: center;
}

.quote-box {
  padding: 48px 25vw;
  background-color: #e5e7eb;
}

.quote-box .author {
  text-align: right;
  margin-right: 16px;
}

.sign-up-box {
  align-self: center;
  width: 50vw;
  background-color: #3882f6;
  margin-top: 48px;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 16px;
  padding: 8px;
}